@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    font-weight: 500;
}

a:active, a:hover, a {
    text-decoration: none;
    color: black;
}

.left-items, .right-items {
    display: flex;
}

.logo {
    height: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.login, .signup {
    display: flex;
    align-items: center;
    float: right;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.logo:hover, .rating:hover, .login:hover, .signup:hover {
    background: rgb(229, 229, 253);
}

.main {
    display: flex;
    flex-direction: column;
    background: #668f53;
    align-items: center;
    width: 80%;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

.text-in-main {
    color: white;
    font-size: 150%;
    font-weight: 400;
}

.start {
    width: 160px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #ffbd2d;
    border-radius: 12px;
    color: #ffbd2d;
    cursor: pointer;
    margin: 20px;
    font-weight: 500;
}

.start-animation {
    transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
}

.start-animation:hover {
    box-shadow: 0 0 40px 40px #ffd000 inset;
    color: white;
}

.cards-parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards-row {
    display: flex;
}

.card {
    height: 150px;
    width: 130px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-position: 0;
}

.card:hover, .card:focus {
    color: rgb(0, 0, 0);
    outline: 0;
}

.card-animation {
    border-color: #f1c40f;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 500ms ease-in;
}

[data-tooltip] {
    position: relative;
    /* Относительное позиционирование */
}

[data-tooltip]::after {

    font-size: 14px;
    content: attr(data-tooltip);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    width: 300px;
    /* Ширина подсказки */
    left: 0;
    top: 0;
    /* Положение подсказки */
    background: #ffffff;
    /* Синий цвет фона */
    color: rgb(0, 0, 0);
    /* Цвет текста */
    padding: 0.5em;
    /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Параметры тени */
    pointer-events: none;
    /* Подсказка */
    opacity: 0;
    /* Подсказка невидима */
    transition: 1s;
    /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1;
    /* Показываем подсказку */
    top: 2em;
    /* Положение подсказки */
}

#username {
    height: 30px;
    /* Ширина поля в пикселах */
}

#password1 {
    height: 30px;
    /* Ширина поля в пикселах */
}

#password2 {
    height: 30px;
    /* Ширина поля в пикселах */
}

.formbrd {
    max-width: 22%;
    margin: auto;
    padding: 0;
    text-align: center;
    /* Параметры границы */
    background: rgb(229, 229, 253);
    /* Цвет фона */
    /* Поля вокруг текста */
}

