{% extends 'base/main.html' %}
{% block content %}
	<body>

    	{% csrf_token %}

		<div class="header">
			<h1 class="title">Reaction Time</h1>
		</div>
		<div class="main">
			<p align="center">
				<span class="subtitle">Когда красное поле станет зелёным, быстро нажмите на экран</span>
			</p>
			<div class="canvas-parent">
				<canvas id="canvas"></canvas>
			</div>
		</div>
		{% load static %}
		<script type="text/javascript" src="{% static 'base/reaction_time.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	</body>
{%endblock content%}