{% extends 'base/main.html' %}
{% block content %}
{% load static %}
{% csrf_token %}
        <div class="header">
            <div class="left-items">
                <a href="{% url 'games' %}">
                    <div class="logo">
                        <div><img src="https://emojis.wiki/emoji-pics/openmoji/black-cat-openmoji.png" width="60" height="60" class="displayed"></div>
                        <div>C.A.T.</div>
                    </div>
                </a>

                    <div class="rating">
                        <a href="{% url 'results' %}">
                        РЕЙТИНГ
                        </a>
                    </div>
            </div>
            <div class="right-items">
                {% if request.user.is_authenticated %}
                    <div class="login">
                        <a href="{%url 'logout'%}">
                            ВЫЙТИ
                        </a>
                    </div>
                {% else %}

                    <div class="login">
                        <a href="{%url 'login'%}">
                            ВОЙТИ
                        </a>
                    </div>

                {%endif%}
                {% if request.user.is_authenticated %}
                <div class="signup">{{request.user}}</div>
                {% else %}

                <div class="signup">
                    <a href="{%url 'register'%}">
                        РЕГИСТРАЦИЯ
                    </a>
                    </div>

                {%endif%}
            </div>
        </div>
        <div class="main" id="firstTest">
            <div><img src="{% static 'base/Cat1.jpg' %}"></div>
            <div class="text-in-main">C.A.T. - Cognitive Ability Test</div>
            <div class="text-in-main">Тесты для развития когнитивных способностей</div>
            <div class="text-in-main">Чтобы начать нажмите кнопку СТАРТ</div>
            <a href="{% url 'reaction_time' %}"><button class="start start-animation">СТАРТ</button></a>
        </div>
        <div class="cards-parent">
            <div class="cards-row">
                <div class="card card-animation">
                     <a href="{% url 'reaction_time' %}">
                        <div><img src="https://protymen.ru/upload/iblock/900/900af8917113cba76314148af9f3a1fd.png" width="106.4" height="106.4"></div>
                        <div>Скорость реакции</div>
                    </a>
                </div>
                <div class="card card-animation">
                     <a href="{% url 'verbal' %}">
                        <div><img src="https://cdn-icons-png.flaticon.com/512/182/182321.png" width="106.4" height="106.4"></div>
                        <div>Вербальная память</div>
                    </a>
                </div>
            </div>
            <div class="cards-row">
                <div class="card card-animation">
                    <a href="{% url 'memory_test' %}">
                        <div><img src="https://cdn-icons-png.flaticon.com/512/666/666907.png" width="106.4" height="106.4"></div>
                        <div>Порядковая память</div>
                    </a>
                </div>
                <div class="card card-animation">
                     <a href="{% url 'type_speed' %}">
                        <div><img src="https://cdn-icons-png.flaticon.com/512/40/40144.png" width="106.4" height="106.4"></div>
                        <div>Скорость печатания</div>
                    </a>
                </div>
            </div>
        </div>
{% endblock content %}